<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <li>
        Name: <%= user.username %>
        <span class="profile-link">
          <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %> 
        </span>
        <% if current_user.id != user.id %>
          <% if current_user.friendship_for(user).blank?  %>
            <%= button_to 'Add friend', user_friendships_path(user), class: 'profile-link', method: :post %>
          <% elsif user.friend_request_for(current_user).present? %>
            <% if user.friend_request_for(current_user).pending? %>
              <span class= 'profile-link'>pending request</span>
              <span class= 'profile-link'><%= accept_friend_request(current_user.friendship_for(user).id) %><%= reject_friend_request(current_user.friendship_for(user).id) %></span>
            <% elsif current_user.is_friend?(user) %>
              <span class= 'profile-link'>Friends!!!</span> <span class= 'profile-link'><%= unfriend_url(user) %></span>
            <% end %>
          <% end %>
        <% end %>
      </li><br>
    <% end %>
  </ul>
</section>
