<% @posts.each do |post| %>
  <div class="post-wrapper col-12 mb-2 p-0">
    <div class="card">
      <div class="card-header">
        <%= link_to post.user.username, user_path(post.user) %><br>
        <small class=" post-date float-right mt-1"><%= post.created_at.strftime("%Y/%m/%d") %></small>
      </div>
      <div class="card-body">
        <a href="<%= post_path(post) %>" ><%= post.content %></a><br>
        <% if post.post_file.attached? %>
          <% if post.post_file.content_type.include?("image")%>
            <%= image_tag url_for( post.post_file) %><br>
          <% else %>
            <span class= "video_section"><%= video_tag  url_for(post.post_file) %></span><br>
          <% end %>
        <% end %>
        <% if like = current_user.like_post(post) %>
          <%= link_to  '', post_like_path(post, like), method: :delete, id: "dislike-btn-#{post.id}", class: "fa fa-thumbs-down", remote: :true %>
        <% else %>
          <%= link_to '', post_likes_path( post), method: :post,  id: "like-btn-#{post.id}", class: "fa fa-thumbs-up", remote: :true %>
        <% end %>  
        <p id= "post-like-counter-<%=post.id%>" >
          likes: <%= post.likes.count %>  comments: <%= post.comments.count %>
        </p>
        <% post.comments.each do |comment| %>
          <div class="post-comments">
            <b><%= link_to comment.user.username ,user_path(comment.user, class: 'comment-author') %>:</b>
            <%= comment.content %>
            <small class="float-right mt-1"><%= comment.created_at.strftime("%Y/%m/%d") %></small>
          </div>
        <% end %>
        <div class="mb-3">
          <%= form_with model: post.comments.new, url: post_comments_path(post) do |form| %>
            <div class="input-group input-group-sm mb-3">
              <%= form.text_field :content, id: :comment_content, class: 'form-control', placeholder: 'Add new Comment' %><br>
              <%= form.submit 'Comment', class: 'btn btn-secondary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
